.experience-timeline {
  margin: auto;
  padding: 3rem 1rem;
  color: #ffffff;
}

.experience-timeline__title {
  font-size: 2rem;
  color: #00bcd4;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;     
  width: 100%
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.timeline-content {
  background-color: #1e1e35;
  padding: 1.5rem;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 188, 212, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  text-align: center;
  display: flex;                
  flex-direction: column;       
  align-items: center;          
  justify-content: center;     
}

.timeline-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 188, 212, 0.4);
}

.timeline-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.experience-title {
  font-size: 1rem;
  color: #f0f0f0;
  margin-bottom: 0.5rem;
}

.experience-company {
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ee0707;
  margin-bottom: 0.25rem;
}

.experience-duration {
  font-size: 0.9rem;
  color: #cccccc;
  margin-bottom: 1rem;
  
}

.experience-description {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #dddddd;
  text-align: left
}

