body {
  margin: 0;
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #00bcd4;
  text-decoration: none;
}

a:hover {
  color: #ff4081;
}
